.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  width: 100%;
  margin-left: 200px;
  flex: 0.5fr 0.5fr;
}

.sign {
  width: 40%;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: right;
}

.path {
  width: 40%;
  font-weight: 300;
  font-size: 0.7rem;
  text-align: left;
}
